# Homework 1: Pandas
Data source: http://archive.ics.uci.edu/ml/datasets/Polish+companies+bankruptcy+data

In [143]:
from scipy.io import arff
import pandas as pd

In [144]:
data = arff.loadarff('4year.arff')
df = pd.DataFrame(data[0])
df['bankruptcy'] = (df['class']==b'1')

In [145]:
#Create a new dataframe with only 4 feataures (and and Bankruptcy). Properly rename the columns to X1, X2, X7, and X10
df_1 = df[['Attr1','Attr2','Attr7', 'Attr10', 'bankruptcy']]
df_1.rename(columns = {'Attr1':'X1', 'Attr2':'X2','Attr7':'X7','Attr10':'X10'}, inplace = True)

D:\APP\Annaconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [182]:
#Fill-in the missing values (nan) with the column means. (Use pd.fillna() or See Ch 4 of PML)
df_1.fillna(df_1.mean(), inplace = True)

D:\APP\Annaconda3\lib\site-packages\pandas\core\generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [184]:
#Find the mean and std of the 4 features among all, bankrupt and still-operating companies (3 groups).
df_1_std = df.groupby('bankruptcy').std()
df_1_mean = df.groupby('bankruptcy').mean()
df_1.describe()

                X1           X2           X7          X10
count  9792.000000  9792.000000  9792.000000  9792.000000
mean      0.043019     0.596404     0.059446     0.389040
std       0.359303     4.586887     0.533317     4.590064
min     -12.458000     0.000000   -12.458000  -445.910000
25%       0.001322     0.263163     0.003005     0.294510
50%       0.041374     0.467770     0.048840     0.510435
75%       0.111125     0.689183     0.126930     0.714285
max      20.482000   446.910000    38.618000    12.602000

In [204]:
# How many companies satisfy the condition, X1 < mean(X1) - stdev(X1) AND X10 < mean(X10) - std(X10)?
X1_value = df_1['X1'].mean()- df_1['X1'].std()
X10_value = df_1['X10'].mean()- df_1['X10'].std()
num_total = len(df_1.loc[(df_1['X1'] < X1_value) & (df_1['X10'] < X10_value)])
num_bankrupt = len(df_1.loc[(df_1['X1'] < X1_value) & (df_1['X10'] < X10_value) & (df_1['bankruptcy'] == True)])
ratio = num_bankrupt/num_total
print(ratio)

0.2